body {
    background-color: var(--white);
    margin: 0 auto;
    max-width: 1440px;
}

main {
    padding: 0 20px;
}

main > .mainSection {
    margin: 35px 0;
}

main > .mainSection > div {
    margin: 35px 0;
}

main > .mainSection > div:first-child {
    margin-top: 0;
}

main > .mainSection > div:last-child {
    margin-bottom: 0;
}

.filter {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    gap: 10px;
}

.filterBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.filterBox > button {
    margin: 10px 10px 10px 0;
}

main > .container {
    margin-left: -20px;
    margin-right: -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.container > .sectionHot,
.container > .sectionActivity,
.container > .sectionSelec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.sectionHot > .sectionHotArticles,
.sectionSelec > .sectionSelecArticles,
.sectionActivity > .sectionActivityArticles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
 
section .linkBox {
    margin: 15px 0 15px 0;
    display: block;
}

.sectionHot {
    background-color: var(--grey);
    margin-bottom: 15px;
    padding: 30px 20px 15px 20px;
}

.sectionHotTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.sectionSelec {
    padding: 20px;
    margin-bottom: 35px;
}

.sectionSelec .seeMore {
    font-family: var(--subText-font);
    font-size: var(--subText-font-size);
    font-weight: var(--subText-font-weight);
    line-height: var(--subText-line-height);
    /* border: 0; */
    cursor: pointer;
}

.sectionActivity {
    margin-bottom: 35px;
    padding: 30px 30px 15px 30px;
}

.sectionActivityTitle {
    margin-bottom: 15px;
}


@media only screen and (min-width: 1024px) {
    main {
        padding: 0 50px;
    }

    main > .container {
        margin-left: 0;
        margin-right: 0;
    }
    
    .container > section {
        margin-left: 0;
        margin-right: 0;
        border-radius: 15px;
        padding: 30px;
    }

    .sectionHot > .sectionHotArticles,
    .sectionSelec > .sectionSelecArticles,
    .sectionActivity > .sectionActivityArticles {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .container > .sectionHot {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin: 15px 0 35px 0;
        padding-bottom: 15px;
    }

    .sectionHotTitle {
        margin-bottom: 5px;
    }

    .sectionSelec {
    background-color: var(--grey);
    -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .sectionSelecTitle {
        margin-bottom: 15px;
    }
    
    .sectionSelec .seeMore {
        margin-top: 15px;
    }

    .container > .sectionActivity {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        padding-bottom: 15px;
    }
}

@media only screen and (min-width: 1440px) {
    main > .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .container > .sectionHot {
        max-width: 379px;
        max-height: 569px;
        margin: 0;
    }

    .sectionHot > .sectionHotTitle {
        margin-bottom: 15px;
    }

    .sectionHot > .sectionHotArticles {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .container > .sectionSelec {
        max-width: 811px;
        margin: 0;
    }

    .container > .sectionActivity {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        margin-top: 35px;
        margin-bottom: 35px;
    }
}