.card {
    border-radius: 20px;
    background-color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, .2);
            box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, .2);
}

.cardTimber__Label {
    width: 335px;
    height: 207.25px;
}

.cardTimber__Label .cardText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 15px;
    height: 64.25px
}

.cardTimber__Label .cardText .starRate {
    margin-top: auto;
}

.cardTimber__Wide {
    width: 335px;
    height: 146px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.cardTimber__Wide .cardText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.cardTimber__Wide .cardText .starRate {
    margin-top: auto;
    margin-bottom: 5px;
}

.cardTimber__Lengthy {
    width: 315px;
    height: 200px;
}

.cardTimber__Lengthy .cardText {
    margin: auto auto auto 15px;
}


.cardTimber__Label .cardText h3,
.cardTimber__Wide .cardText h3 {
    max-width: 180px;
}

.cardText .starIcon {
    margin-right: auto;
}

.cardText .starIcon label {
    color: var(--blue);
}

.cardText .starIcon label:nth-child(2) {
    color: var(--grey);
}

@media only screen and (min-width: 1024px) {
    .cardTimber__Label {
        width: 268px;
    }

    .cardTimber__Wide {
        width: 275px;
    }

    .cardTimber__Lengthy {
        width: 193.5px;
        height: 270px;
    }
}

@media only screen and (min-width: 1440px) {
    .cardTimber__Label {
        width: 250.33px;
    }

    .cardTimber__Wide {
        width: 369px;
    }

    .cardTimber__Lengthy {
        width: 297.5px;
        height: 439px;
    }
}