
    /* Colors */
$white : #FFFFFF;
$yellow : #FED385;
$grey : #F2F2F2;
$blue : #0065FC;
$black : #000000;
$light : #deebff;
/* Text configuration */
$standard-font : 'Raleway';
$standard-font-size : 1rem;
$standard-font-weight : 500;
$standard-line-height : auto;
$filterText-font : 'Raleway';
$filterText-font-size : 1.125rem;
$filterText-font-weight : 700;
$filterText-line-height : auto;
$subText-font : 'Raleway';
$subText-font-size : 1.125rem;
$subText-font-weight : 700;
$subText-line-height : auto;
$titleSection-font : 'Raleway';
$titleSection-font-size : 1.375rem;
$titleSection-font-weight : 700;
$titleSection-line-height : auto;

$cardTitle-font : 'Raleway';
$cardTitle-font-size : 1rem;
$cardTitle-font-weight : 700;
$cardTitle-line-height : auto;
