.searchBar {
    width: 335px;
    height: 49px;
    position: relative;
    border-top: 1px solid  $grey;
    border-bottom: 1px solid  $grey;
    border-radius: 16px;
}

.searchBar .iconBox {
    width: 51px;
    height: 51px;
}

.searchBar .panRight {
    background-color: $blue;
    border: 0px;
    border-radius: 15px;
    position: absolute;
    top: -1px;
    right: -1px;
    -webkit-box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, .2);
            box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, .2);
    -webkit-transition: -webkit-box-shadow .2s;
    transition: -webkit-box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
}

.searchBar .panRight:active {
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .2);
            box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .2);
    opacity: .9;
}

.searchBar input {
    width: 261px;
    height: 100%;
    padding: 0 0 0 74px;
    font-weight: 700;
    border: 0;
}

.searchBar input:focus {
    outline: none;
}

.searchBar input::-webkit-input-placeholder {
    color: $black;
    opacity: 1;
    font-weight: bold;
    font-size: 1rem;
}

.searchBar input::-moz-placeholder {
    color: $black;
    opacity: 1;
    font-weight: bold;
    font-size: 1rem;
}

.searchBar input:-ms-input-placeholder {
    color: $black;
    opacity: 1;
    font-weight: bold;
    font-size: 1rem;
}

.searchBar input::-ms-input-placeholder {
    color: $black;
    opacity: 1;
    font-weight: bold;
    font-size: 1rem;
}

.searchBar input::placeholder {
    color: $black;
    opacity: 1;
    font-weight: bold;
    font-size: 1rem;
}

.searchBar .panLeft {
    border-radius: 15px 0 0 15px;
    position: absolute;
    top: -1px;
    left: -1px;
    background-color: var(--grey);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.searchBar .icons {
    width: 14px;
    height: 18px;
    color: $blue;
}

.searchBar span {
    display: none;
}


@media only screen and (min-width: 810px) {
    .searchBar {
        width: 377px;
    }

    .searchBar .panRight img.icons {
        display: none;
    }

    .searchBar .panRight {
        width: auto;
        border-radius: 0 15px 15px 0;
    }

    .searchBar span {
        display: inline-block;
        color: $white;
        padding: 0 16px;
    }
}