/* Modules */
@import 'reset.css';
@import 'modules/header.css';
@import 'modules/footer.css';
@import 'modules/button.css';
@import 'modules/card.css';
@import 'modules/searchbar.css';
@import 'modules/info.css';
@import 'modules/hero.css';
@import 'modules/star.css';
@import 'pages/home.css';

/* Design system */
:root {
    /* Colors */
    --white : #FFFFFF;
    --yellow : #FED385;
    --grey : #F2F2F2;
    --blue : #0065FC;
    --black : #000000;
    --light : #deebff;

    /* Text configuration */
    --standard-font : 'Raleway';
    --standard-font-size : 16px;
    --standard-font-weight : 500;
    --standard-line-height : auto;

    --filterText-font : 'Raleway';
    --filterText-font-size : 18px;
    --filterText-font-weight : 700;
    --filterText-line-height : auto;

    --subText-font : 'Raleway';
    --subText-font-size : 18px;
    --subText-font-weight : 700;
    --subText-line-height : auto;

    --titleSection-font : 'Raleway';
    --titleSection-font-size : 22px;
    --titleSection-font-weight : 700;
    --titleSection-line-height : auto;
    
    --cardTitle-font : 'Raleway';
    --cardTitle-font-size : 16px;
    --cardTitle-font-weight : 700;
    --cardTitle-line-height : auto;

    background-color : var(--grey);
    color : var(--black)
}

body {
    font-family : var(--standard-font), sans-serif;
    font-size : var(--standard-font-size);
    font-weight : var(--standard-font-weight);
    line-height : var(--standard-line-height);
}

h1 {
    font-family : var(--titleSection-font);
    font-size : var(--titleSection-font-size);
    font-weight : var(--titleSection-font-weight);
    line-height : var(--titleSection-line-height);
}

h2 {
    font-family : var(--titleSection-font);
    font-size : var(--titleSection-font-size);
    font-weight : var(--titleSection-font-weight);
    line-height : var(--titleSection-line-height);
}

h3 {
    font-family : var(--cardTitle-font);
    font-size : var(--cardTitle-font-size);
    font-weight : var(--cardTitle-font-weight);
    line-height: var(--cardTitle-line-height);
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
    color : var(--black);
}

i {
    color: var(--blue);
}

strong {
    font-weight: 700;
}

span {
    font-family : var(--subText-font);
    font-size : var(--subText-font-size);
    font-weight : var(--subText-font-weight);
    line-height : var(--subText-line-height);
}